@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-size:8px;
    font-family: 'Poppins', sans-serif;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none;
   
}
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
  background-color: rgba(86, 228, 21, 0.596);
  color: rgb(255, 255, 255);
  user-select: none;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
  background-color: #ffb300d5;
  color: white;
  }
  
  /* Right-aligned section inside the top navigation */
  .topnav-right {
  float: right;
  }
  .container::-webkit-scrollbar{
    display: none;
  }
.container{
    
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
    

}
.container .section{
    
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    scroll-snap-align:start;
}
.container .section:nth-child(1)
{
    background: url(./home.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.container .section:nth-child(2)
{
    background:  url(./projects.jpg);
    background-size:cover;
    background-attachment: fixed;

}
.container .section:nth-child(3)
{
    background:  url(./contact.jpg);
    background-size:cover;
    background-attachment: fixed;

}
.container .section:nth-child(4)
{
    background:  url(./about.jpg);
    background-size:cover;
    background-attachment: fixed;

}
.container .section .content{
    position: absolute;
    bottom: 50px;
    left: 50px;
    max-width: 700px;
}
.container .section .content a{
   background:rgba(61, 61, 61, 0.39);
   color:rgb(255, 255, 255);
   font-weight: 600;
   display:inline-block;
   padding: 5px 30px;
   font-size:2em;
   text-decoration: none;
}
.container .section .content p{
    background: #ffffff46;;
    color:#111;
    font-weight: 300;
    display:inline-block;
    padding: 2% 2%;
    font-size:2em;
    margin-top: 10px;
 }
 .container .section .content a:hover{
     background-color: rgba(24, 173, 179, 0.486);
 }
 .container .section .content p:hover{
     background: rgba(241, 241, 241, 0.63);
     transition-duration: 1.5s;

 }


 #neon-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    background: #031628; 
  }

  .btn {
    border: 0px solid;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px 15px;
    font-weight: 300;
  }
  .two {
    color: #8f00f1; 
  }
  /*Hover*/
  .two:hover {
      color: white;
      border: 0;
    background-color: #8f00f1;
    -webkit-box-shadow: 10px 10px 99px 6px #8f00f1;
    -moz-box-shadow: 10px 10px 99px 6px #8f00f1;
    box-shadow: 10px 10px 99px 6px #8f00f1;
    cursor: pointer;
  }


 footer {
    text-align: center;
    padding: 20px;
    background-color:	#2121249D;
    color: white;
  }
  .topnav-right a:hover{
    background-color:#738ADB;
}

  
  footer:hover{
    color: rgb(29, 128, 29);
    background-color: rgb(40, 40, 51);
    cursor: crosshair;
  }

 
